@import url('https://fonts.googleapis.com/css?family=Yrsa:400,700');
@import "bower_components/bulma/sass/utilities/initial-variables";
$green: #bada55;
$blue: #2e4a68;
$orange: #ff6100;
$grey: #293132;

$family-serif: "Yrsa", serif;

$primary: $green;
$danger: $orange;

$family-primary: $family-serif;

$card-img: url("http://placehold.it/800x400");

// @import "bower_components/bulma/sass/base/_all";
@import "bower_components/bulma/sass/utilities/_all";
@import "bower_components/bulma/sass/grid/_all";
@import "bower_components/bulma/sass/elements/_all";
@import "bower_components/bulma/sass/components/_all";


*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  // border: solid red 1px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
//   display: flex;
}

.page, .navbar, .project-section, .page-sidebar, .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page {
  height: 98vh;
  width: 98vw;
  padding: 10px;
  min-height: 480px;
  justify-content: space-between;
  font-size: 16px;
  // align-self: center;
  // margin-left: auto;
  // margin-right: auto;
}

.page-header, .page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  min-height: 70px;
  min-width: 100%;
  background-color: $grey;
  border-radius: 5px;
}

.navbar {
  flex-direction: row;
  width: 95%;
  justify-content: center;
  align-items: center;

   .contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;

      .contact-item {
        align-self: center;
        text-align: center;
      }
  }
}

.page-content {
  height: 65%;
  min-width: 80%;
  max-width: 95%;
  min-height: 300px;
  flex-direction: row;
}

.project-section {
  height: 100%;

  .project-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
    box-shadow: 2px 2px 2px 2px $grey;
    // background-color: $orange;
  }

  .project-card {
    display: none;
  }

  .project-header {
    font-size: 2em;
    font-weight: 700;
  }
}

.box {
  background-color: $orange;
}

.navbar {
  border-radius: 10px;
}

.nav-menu {
  width: auto;
}

@media screen and (max-width: 600px) {
  body {
    display: none;

  }
}