/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto");
/* Measurements */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: #bada55;
  font-family: "Righteous", cursive; }

.page {
  background-color: #17181A;
  font-family: "Roboto", sans-serif;
  color: #8d979f;
  height: 100vh;
  width: 100vw;
  min-height: 480px;
  min-width: 320px;
  font-size: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }

.frame {
  min-width: 95%;
  display: flex;
  flex-direction: column; }
  .frame.navbar {
    color: #bada55;
    font-family: "Righteous", cursive;
    max-height: 85px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    font-size: 1.75em; }
  .frame.project-tabs {
    min-height: 475px !important;
    max-height: 85% !important;
    max-width: 95% !important;
    align-items: center !important; }

.project-tabs-bar {
  min-width: 95% !important;
  min-height: 48px !important;
  margin-bottom: 10px !important; }

.project-thumbnail-frame {
  width: 95% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 420px !important;
  max-height: 80% !important;
  overflow: hidden !important; }

.react-swipeable-view-container {
  max-height: 100% !important;
  max-width: 100% !important;
  positon: relative !important; }

.thumbnail {
  max-height: 95% !important;
  min-height: 90% !important;
  max-width: 100% !important;
  margin: 0px !important; }

.project-card {
  min-height: 90% !important;
  min-width: 80% !important;
  max-width: 100% !important;
  margin: 0px !important; }

.project-card-media {
  max-height: 25% !important;
  min-height: 360px !important; }

.project-card-title {
  max-height: 48px !important; }

.project-card-overlay {
  padding: 0px !important;
  max-height: 15% !important; }
  .project-card-overlayspan {
    font-size: 1em !important; }

.project-picture.tetris {
  background-image: url("public/tetrisThumbnail.png");
  background-position: center;
  min-height: 50% !important; }

/*************************************************/
.navbar-container {
  width: 95%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }

.navbar-subcontainer {
  display: flex;
  flex-direction: row; }
  .navbar-subcontainer.top {
    justify-content: space-between; }
  .navbar-subcontainer.bottom {
    justify-content: center; }

.menu-contact {
  background-color: #17181A !important;
  color: #bada55 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: .75em !important;
  border: solid #212F4B 1px; }

.menu-item {
  color: #bada55 !important;
  width: 80% !important; }

.popover-button {
  background-color: #17181A !important;
  color: #bada55 !important;
  max-width: 30%; }

@media screen and (min-width: 450px) {
  .project-card-media {
    max-width: 400px !important;
    margin: 0px !important; }
    .project-card-mediaimg {
      margin-right: auto !important;
      margin-left: auto !important; }
  .project-card {
    max-width: 500px !important; } }
