/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: #bada55;
  font-family: "Righteous", cursive; }

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #17181A;
  font-family: "Roboto", sans-serif;
  color: #8d979f;
  font-size: 12px; }

.frame {
  min-width: 98%; }
  .frame.navbar {
    height: 16vh;
    min-height: 48px;
    display: flex;
    justify-content: center;
    font-size: 1.75em;
    color: #bada55;
    font-family: "Righteous", cursive; }
  .frame.project-tabs {
    height: 50vh;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .frame.project-info {
    height: 22vh;
    min-height: 100px;
    min-width: 90%;
    box-shadow: 2px 2px 2px 2px red;
    padding: 20px; }

.btn-toggle-twitter {
  min-width: 90%;
  max-width: 90%;
  min-height: 25px;
  background-color: #584b62; }

.thumbnail {
  height: 250px;
  width: 200px;
  box-shadow: 2px 2px 2px 2px;
  transform: translateZ(2em) translateX(200px); }
  .thumbnail:hover {
    background-color: red;
    border: solid red 1px; }
  .thumbnail.tetris {
    background-image: url("../tetrisThumbnail.png");
    background-size: cover; }

/*************************************************/
.navbar-container {
  width: 95%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }

.navbar-subcontainer {
  display: flex;
  flex-direction: row; }
  .navbar-subcontainer.top {
    justify-content: space-between; }
  .navbar-subcontainer.bottom {
    justify-content: center; }

.menu-contact {
  background-color: #17181A !important;
  color: #bada55 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: .75em !important;
  border: solid #212F4B 1px; }

.menu-item {
  color: #bada55 !important; }

.popover-button {
  background-color: #17181A !important;
  color: #bada55 !important;
  max-width: 30%; }
