/*
    Color Scheme:
        #2B1F3B
        <h*> font-color:      #3A4654
        #1D232A
        background-color:   #17181A
        #4E6D48
*/

* {
    background-color: #17181A;
    color: #4E6D48;
}

h1, h2, h3, h4, h5, h6 {
    color: #5f7289;
}