* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --light-color: #e0fbfc;
    --accent-color: #3d5a80;
    --dark-color: #293241;

    --white: #fafafa;
    --black: #222;

    --heading-font: 'Architects Daughter', cursive;
    --basic-font: 'Montserrat', sans-serif;

    --large-padding: 3rem;
    --small-padding: 2rem;

    --white-border: solid 1px var(--white);
}

body {
    background-color: var(--black);
    color: var(--white);

    font-size: 16px;
    font-family: var(--basic-font);

    width: 100vw;
    margin: 0;
    padding: 0;

    position: absolute;
    display: grid;

    grid-template-rows: minmax(400px, auto) 80px repeat(5, 1fr);
    grid-template-columns: 10% auto 10%;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        ". articles ."
        ". codesources ."
        ". coding ."
        ". jobsites ."
        ". games .";

    justify-items: stretch;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    font-size: 20px;
}

a:visited {
    color: var(--white);
}

header {
    grid-area: header;

    background-color: var(--accent-color);
    font-family: var(--heading-font);
    color: var(--white);

    padding: var(--large-padding);

    display: flex;
    justify-content: flex-start;
}

header div {
    padding: var(--large-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--basic-font);
}

header div h2 {
    font-size: 46px;
    font-family: var(--heading-font);
}

section {
    min-height: 300px;
    padding: var(--small-padding);

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    border-bottom: var(--white-border);
}

section:last-child {
    border: none;
}

section h3 {
    font-family: var(--heading-font);
    margin-bottom: 1rem;
}

#avatar img {
    border-radius: 25%;
    box-shadow: 7px 8px 11px var(--white);
}

#navbar {
    grid-area: nav;
    background-color: var(--dark-color);
    color: var(--white);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: var(--white-border);
    border-bottom: var(--white-border);
}

#articles {
    grid-area: articles;
}
#codesources {
    grid-area: codesources
}
#coding {
    grid-area: coding;
}
#jobsites {
    grid-area: jobsites;
}
#games {
    grid-area: games;
}


.flx {
    display: flex;
}

.col {
    flex-direction: column;
}